body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    padding: 20px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ccc;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 5px;
}

select {
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 150px;
    background-color: #fff;
}

.sort-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#favorites-list {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #555;
}

#event-list{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event-card {
    padding: 12px;
    margin: 16px;
    width: 360px;
    float: left;
    transition: transform 0.3s ease-in-out;
    border-radius: 12px;
    background-color: #f3f2f2;
}

.event-details {
    border: 2px solid #a1a1a1;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


.event-card:hover {
    transform: scale(1.05);
}

.event-card img {
    max-width: 100%;
    height: 240px;
    width: 100%;
    border-radius: 12px;
}

.favorite-btn{
    background-color: #0129dd;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    color: white;
}

@media (max-width: 768px) {
    .event-card {
        width: 50%;
    }

    .filters {
        flex-direction: column;
    }

    .sort-buttons {
        flex-direction: column;
    }

    select {
        width: 100%;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .event-card {
        width: 100%;
    }
}

/* Animation for card appearance */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.event-card {
    animation: fadeIn 0.5s ease-in-out;
}
